
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>Supreme Bio Solution</title>
    <link rel="shortcut icon" href="http://www.abodebiotec.com/favicon.png">

    <link rel="stylesheet" media="screen" href="./Abodebiotec_files/css">
    <link rel="stylesheet" href="./Abodebiotec_files/bootstrap.min.css">
    <link rel="stylesheet" href="./Abodebiotec_files/font-awesome.min.css">
    <link rel="stylesheet" href="./Abodebiotec_files/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="./Abodebiotec_files/main.css">
    <link rel="icon" href="http://www.abodebiotec.com/favicon.ico" type="image/x-icon">

    <link href="./Abodebiotec_files/css(1)" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="./Abodebiotec_files/css(2)">

    <link href="./Abodebiotec_files/full-slider.css" rel="stylesheet">
    <style>
	
        .navbar-nav{text-transform:uppercase !important; font-size:14px !important; font-family:'Varela Round', san-serif;}
	body, p, td {font:16px/25px 'PT sans', sans-serif;}
	#bannerAdd{background-color:#164968; color:#fff; font-size:20px; text-align:center; padding: 20px 0px 20px 0px; margin-top:5%;}
	
       


    </style>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top " style="border:1px solid #dddbdb;background: linear-gradient(-90deg, #89ab00, white);">
        <div class="container">
            <div class="navbar-header col-md-1">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="http://www.abodebiotec.com/index.html"><img src="./Abodebiotec_files/logo.png" alt="Innovative Biopharmaceuticals"></a>
            </div>
            <div class="navbar-collapse collapse" style="z-index:2001 !important;">
                <ul id="mainNav" class="nav navbar-nav pull-right">
                    <li class="active"><a href="http://www.abodebiotec.com/index.html" class="parent">Home</a></li>
                    <li class="dropdown">
                        <a href="http://www.abodebiotec.com/about.html" class="parent">About<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://www.abodebiotec.com/company-overview.html">Company Overview</a></li>
                            <li><a href="http://www.abodebiotec.com/leader-ship.html">Leadership</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="http://www.abodebiotec.com/index.html#" class="parent">Products <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu" style="background-color: transparent;">
                                <a href="http://www.abodebiotec.com/index.html#">ANIMAL HEALTH CARE <b class="caret"></b></a>
                                <ul class="dropdown-menu" style="margin-top: 5px;border-radius: 0;">
                                    <li class="dropdown-submenu" style="background-color: transparent;">
                                        <a href="http://www.abodebiotec.com/index.html#">Aqua culture <b class="caret"></b></a>
                                        <ul class="dropdown-menu" style="margin-top: 5px;border-radius: 0;">
                                            <li><a href="http://www.abodebiotec.com/pond-shield.html">Pond Shield</a></li>
                                            <li><a href="http://www.abodebiotec.com/minsol-plus.html">Minsol Plus</a></li>
                                            <li><a href="http://www.abodebiotec.com/minsol.html">Minsol</a></li>
                                            <li><a href="http://www.abodebiotec.com/revitalizer.html">Revitalizer</a></li>
                                            <li><a href="http://www.abodebiotec.com/gut-vital.html">Gut-Vital</a></li>
                                            <li><a href="http://www.abodebiotec.com/prozipond.html">Prozipond</a></li>
                                            <li><a href="http://www.abodebiotec.com/clearsol.html">Clearsol</a></li>
                                            <li><a href="http://www.abodebiotec.com/amsol.html">Amsol</a></li>
                                            <li><a href="http://www.abodebiotec.com/phytosol.html">Phytosol</a></li>
                                            <li><a href="http://www.abodebiotec.com/nutribrind.html">NutriBind</a></li>
                                            <li><a href="http://www.abodebiotec.com/bactosl.html">Bactosol</a></li>
                                            <li><a href="http://www.abodebiotec.com/c-strong.html">C-Strong</a></li>
                                            <li><a href="http://www.abodebiotec.com/o2-gen.html">O₂ Gen</a></li>
                                        </ul>
                                    </li>
                                    <!-- <li class="dropdown-submenu" style="background-color: transparent;">
                                      <a href="poultry.html">Poultry <b class="caret"></b></a>
                                      <ul class="dropdown-menu" style="margin-top: 5px;border-radius: 0;">
                                        <li><a href="ecostrong.html">EcoStrong</a></li>
                                        <li><a href="ecovit.html">EcoVit</a></li>
                                        <li><a href="ecomin.html">EcoMin</a></li>
                                        <li><a href="ecolyte.html">EcoLyte</a></li>
                                      </ul>
                                    </li>
                                    <li class="dropdown-submenu" style="background-color: transparent;">
                                      <a href="ruminants.html">Ruminants <b class="caret"></b></a>
                                      <ul class="dropdown-menu" style="margin-top: 5px;border-radius: 0;">
                                        <li><a href="ecomin-r.html">EcoMin-R</a></li>
                                      </ul>
                                    </li> -->
                                </ul>
                            </li>
                            <li class="dropdown-submenu" style="background-color: transparent;">
                                <a href="http://www.abodebiotec.com/index.html#">HUMAN HEALTH CARE <b class="caret"></b></a>
                                <ul class="dropdown-menu" style="margin-top: 5px;border-radius: 0;">
                                    <li><a href="http://www.abodebiotec.com/probiotic-supplementation.html">Probiotic Supplementation</a></li>
                                    <li><a href="http://www.abodebiotec.com/state-of-the-art-finished-formulations.html">State Of The Art Finished Formulations</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="http://www.abodebiotec.com/events.html" class="parent">Events</a></li>
                    <!-- <li><a href="gallery.html" class="parent">Gallery</a></li> -->
                    <li><a href="http://www.abodebiotec.com/contact.html" class="parent">Contact</a></li>
                    <!-- <li><a href="careers.html" class="parent">Careers</a></li> -->
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->
    <!-- Header -->
    <!--<header id="head">
        <div class="container">
            <div class="row">
                <h4 class="tagline">Innovate is a clinical stage biotechnology company <br /><br />developing novel medicines for <br /><br />gastroenterological and orphan disorders. </h4>
            </div>
        </div>
    </header>-->
    <header id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/Images/SupremeBioSolution_India_slide2.JPG" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Images/SupremeBioSolution_India_slide4.JPG" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Images/SupremeBioSolution_India_slide4.JPG" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Images/SupremeBioSolution_India_slide4.JPG" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Images/SupremeBioSolution_India_slide4.JPG" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <!-- /Header -->
    <!-- container -->
    <div class="container">
        <div class="row about">
            <div class="col-md-12">
                <br><br>
                <h3 style="color:#428bca;text-align: center;" class="biotec">About Abode Biotec</h3>
                <p>
                    Abode Biotec Pvt. Ltd is a growing name in the Biotech Industry in India. Established in the year 2008, the company aims to provide the best of its services for the Nutritional aspect of Animal Healthcare sector. The core belief of ‘The Science of Good’ drives the company forward. <br> <br>
                    Using science and modern technology towards fostering a better environment, Abode Biotec has a diverse portfolio of animal health care products. These quality and eco-friendly products are designed to meet the real-world needs of Aqua Culture, Poultry and Livestock farmers. At Abode Biotec, our work is guided by a simple vision – our products, services and people must create value to animal health customers around the world. We build on a decade of history and with our constant drive to ‘do good’ we are poised to make a real difference to the businesses dealing in Animal Health. Join hands with us and together let’s explore the world with ‘The Science of good’.
                </p>
            </div>
        </div>
    </div>	<!-- /container -->

    <footer id="footer" class="top-space" style="margin-bottom:0px !important;">
        <div class="footer1">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-md-4 widget">
                                  <div class="widget-body">
                                      <p class="text-left">
                                          <h3>About</h3>
                                          Abode Biotec PVT.LTD is a growing Biotech Industry in India established in the year 2008 which aims to provide the best of its service for the Health. <br>
                    Abode Biotec discovers, develops and manufactures a diverse portfolio of animal health care products which are designed to meet the real-world needs of Aqua Culture , Poultry and livestock farmers. At Abode Biotec, our work is guided by a simple vision – that our products, services and people will be the most valued by animal health customers around the world. We build on a decade history and singular focus on animal health to bring customers quality products, services and a commitment to their businesses.
                                  </div>
                              </div> -->
                    <div class="col-md-8 widget">
                        <p class="text-left">
                        </p><h3 style="padding-left:20px;">News</h3>
                        <ul id="ulPressReleases">
                            <li>Abode Biotec is successful in exporting it's products to six new countries in the world.</li>
                            <li>
                                <b> Expansion plans :</b> A new manufacturing facility is coming in Hyderabad and will be a strong addition to Abode Biotec existing line of business.
                            </li>
                        </ul>
                        <p></p>
                    </div>
                    <div class="col-md-4 widget" style="padding-left:20px !important;">
                        <p class="text-left">
                        </p><h3>Contact Us</h3>
                        <!-- <img src="assets/images/logo.png" alt="Abode Biotec" style="margin-left: 15%;padding: 10px 0;width: 16%;"> <br> -->
                        Abode Biotec India Pvt Ltd<br>
                        Road no 12, Banjara Hills,<br>
                        Hyderabad - 500033, <br>
                        Telangana, India. <br>
                        Customer care no : 040-2360 6504,03,01.<br>
                        <a href="mailto:info@abodebiotec.com" style="font-style:italic;">info@abodebiotec.com.</a>
                        <p></p>
                    </div>
                </div> <!-- /row of widgets -->
            </div>
        </div>
        <div class="footer2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="text-left" style="font-size:12px !important;">
                                ©   <span id="year">2019</span> Abodebiotec. All rights reserved.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 widget">
                    </div>
                </div> <!-- /row of widgets -->
            </div>
        </div>
    </footer>



    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="./Abodebiotec_files/jquery.min.js.download"></script>
    <script src="./Abodebiotec_files/bootstrap.min.js.download"></script>
    <script src="./Abodebiotec_files/headroom.min.js.download"></script>
    <script src="./Abodebiotec_files/jQuery.headroom.min.js.download"></script>
    <script src="./Abodebiotec_files/template.js.download"></script>
    <script src="./Abodebiotec_files/jquery.js.download"></script>
    <!-- Bootstrap Core JavaScript -->
    <!-- Script to Activate the Carousel -->
    <script>// $(document).ready(function(e) {
 //    });
 $('.navbar-nav li .caret').click(function(e) {
    e.preventDefault();
    $(this).parent('a').toggleClass('open');
   $(this).parent('a').next('.dropdown-menu').slideToggle();
   });

  // $(document).ready(function(e) {
 //    });
 $('.navbar-nav li .caret').click(function(e) {
    e.preventDefault();
    $(this).parent('a').toggleClass('open');
   $(this).parent('a').next('.dropdown-submenu').slideToggle();
   });</script>
    <script type="text/javascript">$("#year").text(new Date().getFullYear());</script>



    <style type="text/css">
  .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
  }
  .dropdown-submenu > a:after {
    border-left-color: #fff;
  }
  .horizontal-flip-container{
    -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  }
  .horizontal-flip {
    -webkit-animation: anim 5s infinite linear;
    animation: anim 5s infinite linear;
}



    </style>
<script>
    $('.carousel').carousel({
        interval: 2000
    })
</script>

